{namespace languageMenu=SJBR\SrLanguageMenu\ViewHelpers}
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <f:cObject typoscriptObjectPath="lib.logo" />
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <f:cObject typoscriptObjectPath="lib.mainnav" />
            <f:cObject typoscriptObjectPath="lib.login"/>
            <languageMenu:widget.menu languages="0,1,2" layout="Select" languageTitle="1"/>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<f:render section="Main"/>

<footer>
	<div class="row">
		<div class="col-md-6">
			<p>&copy; Company <f:cObject typoscriptObjectPath="lib.year"/></p>
		</div>
		<div class="col-md-6">
			<f:cObject typoscriptObjectPath="lib.meta"/>
		</div>
	</div>
</footer>

</div> <!-- /container -->