

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar-brand {
    padding: 0 15px;
}

.navbar-collapse {

    margin-left: -60px;
}

.tx-felogin-pi1>.form-group {
    width: 8em;
    float: right;
}
















